docs/architecture/n8n_contact_intake.json
{
  "name": "Contact Intake (CollinsAI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-intake",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json[\"__internal\"].fastapi_url || 'https://api.collinsai.me/ingest/contact' }}",
        "options": {}
      },
      "name": "Send to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (name, email, phone, source, payload, created_at) VALUES ({{$json.name}}, {{$json.email}}, {{$json.phone || null}}, {{$json.source || 'web'}}, {{$json.payload || '{}'}}, now()) RETURNING id;"
      },
      "name": "Postgres Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [750, 200]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => ({ json: { message: 'Contact saved', id: item.json[0] ? item.json[0].id : null } }));"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [950, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send to FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FastAPI": {
      "main": [
        [
          {
            "node": "Postgres Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Insert": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
